@font-face {
    font-family: "gamestation";
    src: url('GamestationCond.otf');
}

.warp-frame {
    text-align: center; /* Center align the content */
    
}

.warp-frame header img {
   margin-top: 50px;
}

.bth-home {
    font-family: "gamestation";
    color: white; /* Text color */
    background-color: black; /* Background color */
    text-decoration: none; /* Remove underline */
    font-size: 1.6rem; /* Font size */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding */
    display: inline-block; /* Display as inline block */
    margin: 0.5rem; /* Add some margin */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.bth-home:hover {
    background-color: gray; /* Change background color on hover */
}